<%- include('partials/header.ejs') %>

<div class="card">
    <h1>Welcome to The Cat Lovers Club! 🐱</h1>
    <p>This is a place for people who love cats.</p>
    <p>Use the navigation menu above to look at cute pictures, see cats up for adoption, generate fun text-faces, or read up on some care tips!</p>
</div>

<%- include('partials/footer.ejs') %>